<% content_for :title do %>
	Summary
<% end %>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-right">
    	<li><%= link_to "Summary" %></li>
      <li class="divider-vertical"></li>
      <li><%= link_to "Clock In", clock_in_url %></li>
      <li class="divider-vertical"></li>
      <li><%= link_to "Clock Out", clock_out_url %></li>
    </ul>
  </div>
</div>

<%= simple_form_for @shift, :url => summary_url do |f| %>
	<%= f.input :user_id,
							:collection => @users,
							:prompt => 'Show all',
							:wrapper_html => { :class => 'pull-left side_margin5' } %>
	<div class="pull-left side_margin5">
		<label for="visit_date">From Date:</label>
		<input type="date" id="from_date" name="shift[from_date]" />
	</div>
	<div class="pull-left side_margin5">
		<label for="visit_date">To Date:</label>
		<input type="date" id="to_date" name="shift[to_date]" />
	</div>
	<div class="clearfix"></div>
	<%= f.submit 'Search!', :class => 'btn side_margin5' %>
<% end %>
<!-- Note that any (or ALL!) form fields can be submitted empty! -->

<table class="table table-bordered table-condensed margin10">
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Clock In</th>
			<th>Clock Out</th>
			<th>Total Hours</th>
			<th>Note</th>
		</tr>
	</thead>
	<tbody>
		<% @shifts.each do |shift| %>
			<tr>
				<td><%= shift.user.name %></td>
				<td><%= shift.clock_in_date %></td>
				<td><%= shift.clock_in_time %></td>
				<td><%= shift.clock_out_time %></td>
				<td><%= shift.time_clocked ? (sprintf "%.2f", shift.time_clocked)
																		: nil %></td>
				<td><%= shift.note %></td>
			</tr>
		<% end %>
	</tbody>
</table>