<% content_for :title do %>
	Clock In
<% end %>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav pull-right">
			<li><%= link_to "Summary", summary_url %></li>
			<li class="divider-vertical"></li>
			<li><%= link_to "Clock In/Out", clock_url %></li>
		</ul>
	</div>
</div>

<% content_for :jquery do %>
	<script>
		$(document).ready(function(){
			$("select").change(function(){
				$(this).parents("form").submit();
			});
		});
	</script>
<% end %> 

<div id="select_user_form" class="side_margin5">
	<%= simple_form_for @user,
				:url => shift_clock_url,
				:remote => true,
				:method => :post do |f| %>
		<%# we always post this form, never want to 'put' since we're not updating! %>
		<h4>Step 1: Choose Your Name</h4>
		<%= f.input :id,
								:collection => @users,
								:label => false,
								:prompt => 'Select Name' %>
		<%= f.submit 'Update', :class => 'btn' %>
	<% end %>
</div>

<div id="clock_form">
</div>