<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "users", :media => "all" %>
  <%= javascript_include_tag "users" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
	<p><%= flash[:alert] %></p>
<% end %>
<%= yield %>

</body>
</html>
